<div class='homepageContent'>
  <div class="jumbo" id='homeHero'>
    <div class= "navbar-area">
      <%= render 'shared/header' %>
    </div>
    <div class="form-holder">
      <%= form_for Personal.new do |u| %>
        <div class='form-group'>
            <%= u.label 'Product Name' %>
            <%= u.text_field :product_name, class: 'form-control', placeholder: '2008 Audi' %>
          </label>
        </div>
        <div class='form-group'>
            <%= u.label 'Product Details' %>
            <%= u.text_area :product_details, class: 'form-control', placeholder: 'Quality car for a quality person' %>
          </label>
        </div>
        <div class='form-group'>
            <%= u.label 'Product Price' %>
            <%= u.text_field :product_price, class: 'form-control', placeholder: '$8.00' %>
          </label>
        </div>
        <div class='form-group'>
          <label>
            <%= u.label 'Product Photo' %>
            <%= u.file_field :tagphoto %>
          </label>
        </div>
        <div class='form-group'>
          <label class="pemail">
            <%= u.label 'Personal Email' %>
            <%= u.text_field :email, class: 'form-control pemail', placeholder: 'your@email.com' %>
          </label>
          <label>
            <%= u.label 'Tier Payment' %>
              <%= u.text_field :tier, class: 'form-control', placeholder: 'Bronze, Silver, or Gold' %>
          </label>
          <label>
              <a class='my-tool-tip' data-toggle="tooltip" data-placement="left" title="Bronze:$625 Silver:
              $1250 Gold:$1875 Platinum:$2500 "> 
                <img class="question-mark" src="http://i.imgur.com/Snzat63.png?1">
              </a>
          </label>
        </div>
        <div class='form-group'>
          <%= u.submit 'Create Ad', class: 'btn btn-primary', id: 'postCreate' %>
        </div>
      <% end %>
    </div>
  </div>
</div>